.post-now {
  position: relative;
}

.antd-upload-list {
  .ant-upload-list-picture-card-container,
  .ant-upload-select {
    width: 146px;
    height: 146px;
  }
}

.ant-btn-primary {
  background-color: #428bca;
}